#!/usr/bin/make -f
# Simplified debian/rules file for rcforge

export DH_COMPAT = 13

%:
  dh $@

override_dh_install:
  dh_install
  # Example: If you need to do something *after* basic installation, do it here
  # For example, create a specific directory that dh_install doesn't handle
  # mkdir -p $(CURDIR)/debian/tmp/usr/share/rcforge/mydir
